<header id="header">
    <a class="logo" title="BESTSELLER"><img src="img/logo.png" alt="Best Seller" /></a>

</header>
<h2 style="color:white;display: block;text-align: center">Login</h2>
<div class="wrapper">
    <!-- start content -->
    <div id="content">
        <div class="container">
            <div class="login-container clearfix">
                <form name="loginForm">
                    <div class="alert alert-danger" ng-if="error">
                        <a class="close" ng-click="refreshError()">×</a>
                        <strong>Error!</strong> Invalid Employee code or password</div>
                    <div class="form-group clearfix">
                        <input name="EmployeeCode" class="required  form-control" placeholder="Employee Code"
                            maxlength="8" type="text" id="EmployeeCode" required="required"
                            ng-model="data.Employee.code" />
                    </div>
                    <div class="form-group clearfix">
                        <input name="password" class="required  form-control" placeholder="Password" type="password"
                            id="password" required="required" ng-model="data.Employee.password" /></div>
                    <div class="form-group clearfix">
                        <button class="btn w-75 login-btn form-control" ng-disabled="loginForm.$invalid"
                            ng-click="login()">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>