<div>
    <div class="title">
        <header id="header">
            <a class="logo" title="BESTSELLER"><img src="img/logo.png" alt="Best Seller" /></a>
        </header>
        <h2 style="color:white">Voice Recorder Portal</h2>
    </div>
    <div class="header-bar">
        <span class="name">Hi, {{user.name}}</span>
        <span class="logout" ng-click="logout()">Logout</span>
    </div>
    <!-- <div id="controls">
        <button ng-click="setModule(1)" ng-disabled="mod == 1">Module 1</button>
        <button ng-click="setModule(2)" ng-disabled="mod == 2">Module 2</button>
        <button ng-click="setModule(3)" ng-disabled="mod == 3">Module 3</button>
        <button ng-click="setModule(4)" ng-disabled="mod == 4">Module 4</button>
    </div> -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" ng-repeat="slide in moduleWise track by $index">{{slide}}</div>
        </div>
        <!-- <div class="swiper-pagination"></div> -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
    <div style="width:50%;margin: 0 auto; text-align: center">
        <div id="controls">
            <button id="recordButton" ng-click="startRecording()" ng-disabled="recordBtn">Record</button>
            <button id="pauseButton" ng-click="pauseRecording()" ng-disabled="pauseBtn">Pause</button>
            <button id="stopButton" ng-click="stopRecording()" ng-disabled="stopBtn">Stop</button>
        </div>
        <div id="formats" style="color:white">Format: start recording to see sample rate</div>
        <h3 style="color:white">Recordings</h3>
        <ol id="recordingsList"></ol>
    </div>
</div>